$font-primary: "Helvetica", sans-serif;
$font-secondary: "Montserrat", sans-serif;

$desktop: 1024px;
$tablet: 768px;
$mobile: 425px;

$white: #fff;
$black: #151515;
$blue: #0D7BD4;
$title-white: #f8f8f8;
